<?xml version="1.0"?>
<launch>
		<!-- these are the arguments you can pass this launch file, for example paused:=true -->
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>

		<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find mini_mars)/worlds/mini_mars.world"/>
			<arg name="debug" value="$(arg debug)" />
			<arg name="gui" value="$(arg gui)" />
			<arg name="paused" value="$(arg paused)"/>
			<arg name="use_sim_time" value="$(arg use_sim_time)"/>
			<arg name="headless" value="$(arg headless)"/>
		</include>
		<group ns="camera_east">
		<node name="spawn_c1" pkg="gazebo_ros" type="spawn_model" args="-file $(find mini_mars)/urdf/c170.urdf -urdf -model camera_east -x 0.02 -y 1.82 -z 2.4 -P 0.75"/>
		</group>
		<group ns="camera_north">
		<node name="spawn_c2" pkg="gazebo_ros" type="spawn_model" args="-file $(find mini_mars)/urdf/c170.urdf -urdf -model camera_north -x 2.28 -y 3.64 -z 2.4 -P 0.75 -Y 4.71"/>
		</group>
		<group ns="camera_west">
		<node name="spawn_c3" pkg="gazebo_ros" type="spawn_model" args="-file $(find mini_mars)/urdf/c170.urdf -urdf -model camera_west -x 4.55 -y 1.82 -z 2.4 -P 0.75 -Y 3.14"/>
		</group>
		<group ns="camera_south">
		<node name="spawn_c4" pkg="gazebo_ros" type="spawn_model" args="-file $(find mini_mars)/urdf/c170.urdf -urdf -model camera_south -x 2.28 -y 0.02 -z 2.4 -P 0.75 -Y 1.57"/>
		</group>
		<group ns="camera_overhead">
		<node name="spawn_c5" pkg="gazebo_ros" type="spawn_model" args="-file $(find mini_mars)/urdf/c170.urdf -urdf -model camera_overhead -x  2.3 -y 1.82 -z 2.4 -P 1.57"/>
		</group>
		<!--
  <include file="$(find swarmie_competition)/launch/swarmie.launch">
    <arg name="name" value="eva"/>
    <arg name="x" value="1"/>
    <arg name="y" value="1"/>
    <arg name="real" value="false"/>
  </include>
-->
  <include file="$(find roadrunner_description)/launch/roadrunner.launch">
    <arg name="name" value="eva"/>
    <arg name="x" value="1"/>
    <arg name="y" value="1"/>
    <arg name="real" value="false"/>
  </include>

</launch>

